
//in this file all things which are declared are 
//same across the whole site 
//Colors
$primary:rgb(9, 221, 9);
$primary-hover: #b23301;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #ccc;

//Transition 
$smooth: all 0.3s ease-in-out;
